.App {
    text-align: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    color: white;
  }
.keyboard {
    width: 700px;
    height: 300px;
    margin-top: 60px;
  }  